.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background-color: #2874f0;
    width: 100%;
    top: 0px;
    height: 13%;
    left: 0px;
    margin-top: 0px;
    padding-top: 14px;
    padding-bottom: 7px;
    z-index: +1;

}
dl, ol, ul {
    margin-top: 12px;
    margin-bottom: 1rem;
}
.nav img{
    margin: 2px;
    padding-left: 2px;
    position: relative;
    padding-right: 2px;
    height: 47px;
    left: 73px;
    width: 150px;
    border-radius: 22px;
    background-color: white;
    color: white;
}
.nav ul li{
   
    display: inline;
    list-style: none;
    margin: 0px;
    padding:0px;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    position: relative;
    right:20px;
    margin-right: 40px;
    border-radius: 22px;
}
.nav ul li a{
    height: 12px;
    width: 30px;
    border-radius: 12px;
    
}
.nav ul li:hover{


    background-color: #46567000;
    color: white;


}


.nav li a{
    text-decoration: none;
    color: white;
}
.nav input{
    position: relative;
   z-index: 1000;
    left: 79px;
    width: 415px;
    height: 42px;
    top: 4px;
    padding-left: 31px;
    border: 1px white;
    font-size: 17px;
    font-family: inherit;
    border-radius: 2px;
}
.nav button{    position: relative;
    width: 86px;
    height: 42px;
    left:7px;
    top: 3px;
    padding-left: 5px;
    border: 1px white;
    font-size: 17px;
    font-family: inherit;
    border-radius: 28px;

}
/* this is for search bar result appearance */
/* Container for the suggestion box */
.suggestion-box {
    position: absolute;
    width: 353px;
    left: 365px;
    max-height: 400px; /* Controls the maximum height of the suggestion box */
    top: 54px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: auto; /* Adds vertical scrolling when content overflows */
}

/* Style for the input field */
.suggestion-box input[type="text"] {
    width: 100%; /* Makes input take up the full width of the suggestion box */
    padding: 8px;
    margin-bottom: 5px; /* Space between input and button */
}

/* List of suggested results */
.suggested-result {
    list-style: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
}

/* Style for each list item */
.suggested-result li {
    margin-bottom: 2px; /* Space between list items */
}

/* Card style */
.card {
    left:22px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9;
    box-sizing: border-box; 
}
.card:hover{
    cursor: pointer;
}
/* Style for the image container */
.card-image {
    margin-right: 10px; 
}


.card-image img {
    width: 50px; 
    height: 50px; 
    border-radius: 5px; 
    object-fit: cover;
}

.title {
    flex: 1; 
}

/* Style for the link inside the card */
.title a {
    font-size: small;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis; 
}




/* user name display */
.userDisplay{
    right: 46px;
    top: 54px;
    height: 24px;
    position: absolute;
    padding: 2px;
    margin: 2px;
    color: white;
    overflow-y: hidden;
    background-color: #2874f0;
}
.userDisplay h5{
    font-size: 15px;
}

.logout:hover{

    cursor: pointer;

}