.section4-container {
    position: relative;
    margin-top: 8px;
    margin: auto;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1268px;
    left: -78px;
    align-items: center;
}

   

.section4-offers {
    width: 230px;
    height: 100%;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90");
    background-position: bottom;
    background-repeat: no-repeat;
    flex-shrink: 0; 
}

.section4-offers-viewall {
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-offers-viewall button {
    margin-top: 24px;
    height: 48px;
    font-size: 16px;
    width: 109px;
    background-color: #2874f0;
    color: white;
    border-radius: 12px;
    border: 0px;
}

.section4-offers-viewall button:hover {
    cursor: pointer;
    background-color: #1d59b9;
}

.section4-list {
    height: 100%;
    width: calc(100% - 230px);
    display: flex; 
    overflow-x: auto; 
    overflow-y: hidden; 
    padding: 0; 
    scroll-behavior: smooth;
   
}

.section4-item {
    min-width: 232px; 
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

.section4-item img {
    max-width: 114px;
    max-height: 75px;
}
.section4-list .section4-item .section4-item-head{

    font-size: larger;
    margin-top: 20px;
    font-weight: 400px;

}
.section4-list .section4-item .section4-price{
    margin-top: 12px;
    color: green;
}


.section4-list .section4-item .section4-item-explore{
    font-size: 12px;
    color: gray;
}

