<section class="section4 container">
    <div class="section4-container">
        <div class="section4-offers">
            <div class="section4-offers-viewall">
                <span>Top offers</span>
                <button>View all</button>
            </div>
        </div>
        <div class="section4-list">
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/l1tmf0w0/stuffed-toy/2/c/q/3-feet-printed-foot-teddy-bear-stuffed-toys-latest-teddy-bear-90-original-imagdazpzwhhvkhu.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/kn0n6a80/remote-control-toy/i/t/l/mini-racing-4-channel-radio-control-rc-car-miss-chief-original-imagfs8264ewfmnw.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/l51d30w0/television/1/k/j/-original-imagfsyu8nrz5gzg.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/khuvxjk0-0/mouse/l/t/6/zeb-transformer-m-zebronics-original-imafxrugfftphbkk.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/kpft18w0/action-figure/w/l/m/iron-man-pvc-solar-bobble-head-in-standing-position-avenger-red-original-imag3njyfnkyaskf.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/knoxnrk0/curtain/y/m/z/d-1-door-c-1-rod-pocket-flipkart-smartbuy-original-imag2azekmj26zfb.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
            <div class="section4-item">
                <img src="https://rukminim1.flixcart.com/image/400/400/jn3hocw0/microphone/d/c/e/boya-by-m1-3-5mm-electret-condenser-microphone-with-1-4-adapter-original-imaf9v2jhhakavks.jpeg?q=70" alt="">
                <div class="section4-item-head"> Soft Toy</div>
                <div class="section4-price"> Under 200/-</div>
                <div class="section4-item-explore">Explore now</div>
            </div>
        </div>
    </div>
</section>
