<nav class="seller-nav">
  <ul>
    <li>
        <div class="dropdown">
            <button class="dropbtn">Sell Online</button>
            <div class="dropdown-content">
              <a href="#">create account</a>
              <a href="#">list products</a>
              <a href="#">Storage and shipping</a>
              <a href="#">Recieve payments</a>
              <a href="#">Grow Faster</a>
              <a href="#">Seller app</a>
            </div>
          </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">Fees and comission</button>
            <div class="dropdown-content">
              <a href="#">Payment cycle</a>
              <a href="#">Fee Type</a>
              <a href="#">calculate gross margin</a>
            </div>
          </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">Grow</button>
            <div class="dropdown-content">
              <a href="#">Faassaured badge</a>
              <a href="#">Insight & tools</a>
              <a href="#">Flipkart ads</a>
              <a href="#">Flipkart Value service</a>
              <a href="#">Shopping Festivs</a>
            </div>
          </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">Learn</button>
            <div class="dropdown-content">
              <a href="#">FAQs</a>
              <a href="#">seller success stories</a>
              <a href="#">Flipkart ads</a>
           
            </div>
          </div>
    </li>

    <div class="login">
        

    </div>

    <div class="signup">
        
    </div>







  </ul>
</nav>