.class-body{
    color: green;
    font-weight: 500;

}
h1{
    color: green;

}
.card{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    padding: 100px;
}
.mt-4 {
    margin-top: 2.5rem!important;
}
.bg-white {
    box-shadow: 3px 3px 5px 1px rgb(101 101 101);
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}


.mt-5 {
    margin-top: 7.5rem!important;

}

.mt-5 {
    margin-top: 4.59rem!important;
    padding: 30px;
}