.card img{
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}

.row {
    margin-top: 34px;
}
.h3, h3 {
    font-size: 12px;
}

body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;

    text-align: left;
    
}
.card-img-actions{
    position: relative;
}

a{
    text-decoration: none;
}