<div class="section2-container">
<div>
	<div
	  id="carouselExampleFade"
	  class="carousel slide carousel-fade"
	  data-bs-ride="carousel"
	>
	  <div class="carousel-inner" style="margin-bottom: 40px;">
		<div class="carousel-item active">
		  <img
			style="height: 233px"
			src="/assets/section2/07d33db5868c568a.webp"
			class="d-block w-100"
			alt="..."
		  />
		</div>
		<div class="carousel-item">
		  <img
			style="height: 233px"
			src="/assets/section2/dff6511cbf3c625e.webp"
			class="d-block w-100"
			alt="..."
		  />
		</div>
		<div class="carousel-item">
		  <img
			style="height: 233px"
			src="/assets/section2/39e74c24b819a298.webp"
			class="d-block w-100"
			alt="..."
		  />
		</div>
	  </div>
	  <button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#carouselExampleFade"
		data-bs-slide="prev"
		(click)="prevslide()"
	  >
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </button>
	  <button
		class="carousel-control-next"
		type="button"
		data-bs-target="#carouselExampleFade"
		data-bs-slide="next"
		(click)="nextslide()"
	  >
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </button>
	</div>
  </div>


</div>