/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;


    height: max-content;
    background-color: rgb(219, 219, 219);
   padding: 0px;
   margin: 10px;

}
